.image-gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.image-gallery img {
  width: 50vw;
  height: auto;
}

.input {
  position: relative;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  padding: 10px;
  transition-duration: 500ms;
  cursor: pointer;
  border-bottom: 1px solid #fff;
  font-size: 15px;
  overflow: hidden;
  background-size: 22px;
  background-position: 45% 50%;
  background-image: url("/assets/images/search.png");
}
.input:hover {
  border-bottom: 1px solid #000;
}
.input.focus {
  width: 200px;
  cursor: text;
  padding-left: 40px;
  color: #fff;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #000;
  background-size: 22px;
  background-position: 10px 50%;
  background-image: url("/assets/images/search.png");
}
